// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body{
  background-color: white;

}
nav{
  background-color: #F8F9FA;
}

nav > a{
  text-decoration: none;
  color: black;
}

nav > a:hover{
  text-decoration: none;
  color: black;
}

.card-container{
  display: flex;
  justify-content: space-around;
}

.card{
  background-color:#F8F9FA;
  width: 280px;
  height: 420px;
  margin:20px;
}
